body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
}

.container {
    text-align: center;
}

#digitalClock {
    font-size: 2em;
}
